@model MyApp.Web.ViewModels.ResetClientCofnirmedDetailsViewModel

@using (Html.BeginForm("ResetClientDetailsConfirmed", "Dev", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()

    <p>Email Address of user : @Html.TextBoxFor(x => x.EmailAddress)</p> 
    @Html.ValidationMessageFor(x => x.EmailAddress)
    <p>Validation Code: @Html.TextBoxFor(x => x.ValidationCode)</p> 
    @Html.ValidationMessageFor(x => x.ValidationCode)
    <p>@Html.SubmitButton()</p>
    <p>@Model.result</p>
   
        
}
